.control-container {
  margin-left: 10px !important;
}

.control-label {
  min-width: 200px;
  max-width: 400px;
  width: 200px;
}

.label {
  font-weight: bold;
  color: blue;
  margin-right: 4px;
}
