<form class="form" [formGroup]="form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Reference" formControlName="reference">
  </mat-form-field>
  <mat-form-field>
    <mat-select required class="full-width" formControlName="location">
      <mat-option *ngFor="let location of locations" [value]="location.id">{{ location.name }}</mat-option>
    </mat-select>
    <mat-label>Transfer to:</mat-label>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Barcode" formControlName="barcode" (change)="scan($event)" required>
  </mat-form-field>
</form>
<div>
  <table class='table table-striped' *ngIf="items">
    <thead>
      <tr>
        <th>Item</th>
        <th>Lot Number</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Reference</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.item }}</td>
        <td>{{ item.lotNumber }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.branch }}</td>
        <td>{{ item.reference }}</td>
      </tr>
    </tbody>
  </table>
</div>
