<form class="form" [formGroup]="entryForm">
  <span class="container">
    <mat-form-field class="full-width">
      <input matInput placeholder="Barcode" formControlName="barcode" (change)="scan()" required>
    </mat-form-field>
  </span>
  <span class="container">
    {{itemLabel}}
  </span>
  <div>
    <span class="container">
      <mat-form-field class="full-width">
        <input matInput placeholder="Quantity" type="number" formControlName="quantity" required>
      </mat-form-field>
    </span>
    <span class="container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Expiry Date" formControlName="expiryDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </span>
    <div class="container">
      <mat-form-field class="comment">
        <textarea matInput placeholder="Leave a comment" formControlName="comment" ></textarea>
      </mat-form-field>
    </div>
    <div class="button-row">
      <span class="container">
        <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="!entryForm.valid">Confirm</button>
      </span>
      <span class="container">
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </span>
    </div>
  </div>
</form>
<!--table-->
<div class="table-wrapper">
  <table class='table table-striped' *ngIf="items">
    <thead>
      <tr>
        <th>Item</th>
        <th>Lot Number</th>
        <th>Quantity</th>
        <th>Expiry Date</th>
        <th>Location</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.item }}</td>
        <td>{{ item.lotNumber }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.expiryDate }}</td>
        <td>{{ item.branch }}</td>
        <td>{{ item.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>


