<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="side">
    <mat-list>
      <mat-list-item>
      </mat-list-item>
      <mat-list-item> {{user.full_name_fld}} </mat-list-item>
      <mat-list-item>  {{user.role_name}}</mat-list-item>
      <mat-list-item>  {{user.branch}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let link of links">
        <a class="nav-link text-dark" [routerLinkActive]='["link-active"]' [routerLink]='link.routerLink'>{{link.routerDesc}}</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="router-outlet">
      <mat-toolbar *ngIf="show">
        <mat-toolbar-row>
          <mat-icon class="menu menu-icon" aria-hidden="false" aria-label="menu" matSuffix (click)="drawer.toggle()">menu</mat-icon>
          <span>{{headerLabel}}</span>
        </mat-toolbar-row>



      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

